﻿@model IEnumerable<BLL.venues>
@*@using PagedList.Core.Mvc*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="">
            <table id="table" class="table table-bordered table-responsive">
                <thead><tr><th>Id</th><th>Name</th><th>Lat</th><th>Long</th><th>Category</th><th>DateCreated</th></tr></thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr><td>@item.id</td><td>@item.name</td><td>@item.lat</td><td>@item.lon</td><td>@item.category</td><td>@item.created_on</td></tr>
                        }
                    }
                    else
                    {

                        <tr><td colspan="6">Could not load data</td></tr>
                    }

                </tbody>
            </table>
            @if (Model != null)
            {
        <ul class="pagination">
            @if (ViewBag.CurrentPage > 1)
            {
                <li class="page-item">

                    <a class="page-link" href="?page=1">First</a>
                </li>
                <li class="page-item">

                    <a class="page-link" href="?page=@(ViewBag.TotalPages-1)">Previous</a>
                </li>
            }
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
        <li class="page-item a @(i==ViewBag.CurrentPage ? "active":"")">
            @if (i <= 2 || i >= ViewBag.TotalPages - 2 || Math.Abs(i - ViewBag.CurrentPage) <= 2)
            {
                @if (i != ViewBag.CurrentPage)
                {
                    <a class="page-link" href="?page=@i">@i</a>
                }
                else
                {
                    <a class="page-link" href="javascript:void()">@i</a>

                }



                    }
                    else
                    {
                        @("...")
                    }

        </li>
            }
            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <li class="page-item">

                    <a class="page-link" href="?page=@(ViewBag.CurrentPage+1)">Next</a>
                </li>
                <li class="page-item">

                    <a class="page-link" href="?page=@(ViewBag.TotalPages)">Last</a>
                </li>
            }
        </ul>
                @*<pager class="pager-container" list="@Model" options="@PagedListRenderOptions.Bootstrap4Full" asp-action="Index" asp-controller="Home" asp-route-query="page" />*@
            }

           
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js" type="text/javascript"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            $(document).ready(function () {
                $('#table').DataTable();
            });

        });
        function PagerClick(index) {
            document.getElementById("hfCurrentPageIndex").value = index;
            document.forms[0].submit();
        }
    </script>
}
